/* @todo Not specific enough, this affects warning boxes that appear on all admin pages, from other plugins */
.wp-comments-encrypt-page p {
	max-width: 1000px;
}

#encrypt-demo-options pre {
	font-size: 0.8em;
}

#encrypt-demo-options p.error {
	border: 1px solid #e60000;
	max-width: 100%;
	color: #e60000;
	background-color: #ffe8e8;
	border-radius: 3px;
	padding: 4px;
	font-weight: bold;
}

#encrypt-demo-options p.succeed {
	border: 1px solid #00aa00;
	max-width: 100%;
	color: #00aa00;
	background-color: #e8ffe8;
	border-radius: 3px;
	padding: 4px;
	font-weight: bold;
}

/* This wraps the whole chart */
#encrypt-demo-options .bar-chart-block {
	border: 1px solid silver;
	padding: 8px 8px 5px 8px;
}

/* This wraps the bars section */
#encrypt-demo-options .bar-chart-container { }

/* This wraps the legend section */
#encrypt-demo-options .bar-chart-legend-container {
	margin-top: 4px;
	font-size: 0.9em;
}

/* This is a section of coloured bar */
#encrypt-demo-options .bar-chart-bar-item {
	border: 0;
	float: left;
	padding: 0;
	font-size: 0.85em;
}

/* This is the text inside the section of coloured bar */
#encrypt-demo-options .bar-chart-bar-item-text {
	padding: 3px;
}

/* These are for the encryption status bar graph and its corresponding legend blobs */
#encrypt-demo-options #status-block .bar-1 { background-color: red; color: white; }
#encrypt-demo-options #status-block .bar-2 { background-color: orange; }
#encrypt-demo-options #status-block .bar-3 { background-color: #22cc22; }

/* These are for the processing bar graph and its corresponding legend blobs */
#encrypt-demo-options #processing-status-block .bar-1 { background-color: #22cc22; }
#encrypt-demo-options #processing-status-block .bar-2 { background-color: red; }

/* A legend item is the holder for a blob and its text */
#encrypt-demo-options .bar-chart-legend-item {
	float: left;
	margin-right: 20px;
}

/* This is the blob of colour in the legend block */
#encrypt-demo-options .bar-chart-legend-blob {
	width: 12px;
	height: 12px;
	margin-top: 2px;
	margin-right: 4px;
	float: left; 
}

#encrypt-demo-options .clear {
	clear: both;
}

/* The actual images are defined using dynamic CSS in the settings page */
#wpadminbar #wp-admin-bar-encdemo-key-status {
	background-repeat: no-repeat;
}
#wpadminbar #wp-admin-bar-encdemo-key-status .text {
	margin-left: 8px;
} 